# Node.js dependencies
node_modules/

# Environment variables
.env

# Firebase service account keys (sensitive)
*firebase-adminsdk*.json
google-services.json
google-service.json
your-firebase-service-account.json
*.service-account.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build output
dist/
build/

# Temporary files
tmp/
*.tmp
*.swp

# Service workers and cache files
.cache/

# Others
*.env.*
# Firebase secrets
firebase.js
firebase.js.save


# Tokens
token.txt

# Coverage
coverage/